@model Museum.Models.Creator

@{
    ViewBag.Title = "Изменение данных о создателе";
}
<div class="highlights min">
    Изменение данных о создателе <strong>@Model.Name</strong>
</div>
<div class="container">
    <form name="change">
        <div class="row m-1">
            <div class="col-sm-4">
                <h6>Название</h6>
                <input required type="text" class="form-control" id="input-name" value="@Model.Name" placeholder="@Model.Name">
            </div>
            <div class="col-sm-4">
                <h6>Страна</h6>
                <input required type="text" class="form-control" id="input-country" value="@Model.Counrty" placeholder="@Model.Counrty">
            </div>
            <div class="col-sm-4">
                <h6>Года жизни</h6>
                <textarea required class="form-control" rows="3" id="input-lifetime" placeholder="@Model.Lifetime">@Model.Lifetime</textarea>
            </div>
        </div>
        <hr />
        <br />
        <div class="row m-1 center-block">
            <div class="col-sm-1">
                <br />
                <button id="btn-change" type="button" class="btn btn-info">Изменить</button>
            </div>
            <div class="col-sm-10"></div>
            <div class="col-sm-1">
                <br />
                <button id="btn-delete" type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#btn-change", function (e) {

                var name = $('#input-name').val();
                var country = $('#input-country').val();
                var lifetime = $('#input-lifetime').val();

                $.ajax({
                    type: "POST",
                    cache: true,
                    data: {
                        id: @Model.IDCreator,
                        name: name,
                        country: country,
                        lifetime: lifetime
                    },
                    success: function () {
                        window.location.assign("http://localhost:55378/Creators/CreatorsView");
                    },
                    error: function () {
                        alert('Возникла ошибка!\nПроверьте, все ли данные Вы ввели!');
                    },
                    url: "@Url.Action("ChangeCreator", "Creators")"
                });
            });

            $(document).on("click", "#btn-delete", function () {

                $.ajax({
                    type: "POST",
                    cache: false,
                    data: {
                        id: @Model.IDCreator
                    },
                    success: function () {
                        window.location.assign("http://localhost:55378/Creators/CreatorsView");
                    },
                    error: function () {
                        alert('Возникла ошибка!');
                    },
                    url: "@Url.Action("DeleteCreator", "Creators")"
                });
            });
        });
    </script>
}

