@model IEnumerable<Museum.Models.Exhibition>

@{
    ViewBag.Title = "Выставки";
}

@foreach (var m in Model)
{
<div class="exhibition col-sm-4">
    <div class="ibox">
        <div class="ibox-title">
            <h3>
                @m.Name<br />
                <small class="text-muted">@m.Country</small>
            </h3>
        </div>
        <div class="ibox-content">
            <h3><small>Время проведения</small><br /> c @m.DateStart.ToShortDateString()<br /> по @m.DateStop.ToShortDateString()</h3><br />
        </div>
        <div class="ibox-content-more">
            <h3><small>Куда приходить?</small><br /> В городе @m.City в @m.Place</h3>
        </div>
    </div>
</div>
}
<div class="row">

</div>
