@{
    ViewBag.Title = "Выставки";
}

<div class="highlights">
    Выставки
</div>

<div class="container m-4">
    <br />
    <a class="btn btn-primary m-3" style="border-radius:15px;" data-toggle="collapse" href="#searchExhibition" role="button" aria-expanded="false" aria-controls="addExhibition">
        Поиск
    </a>
    <div class="collapse m-2" id="searchExhibition">
        <form>
            <div class="row m-1">
                <div class="col-sm-4">
                    <h5>Название</h5>
                    <input required type="text" class="form-control" id="search-name" placeholder="Введите название/часть названия">
                </div>
                <div class="col-sm-4">
                    <h5>Страна</h5>
                    <input required type="text" class="form-control" id="search-country" placeholder="Введите страну/часть наименования страны">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container m-4">
    <br />
    <a class="btn btn-primary m-3" style="border-radius:15px;" data-toggle="collapse" href="#addExhibition" role="button" aria-expanded="false" aria-controls="addExhibition">
        Добавить выставку
    </a>
    <div class="collapse m-2" id="addExhibition">
        <form>
            <div class="row m-1">
                <div class="col-sm-4">
                    <h6>Название</h6>
                    <input required type="text" class="form-control" id="input-name" placeholder="Название">
                </div>
                <div class="col-sm-8">
                    <h6>Дата проведения</h6>
                    <div id="input-time" class="form-control">
                        <i class="fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-sm-3">
                    <h6>Страна</h6>
                    <input required type="text" class="form-control" id="input-country" placeholder="Страна">
                </div>
                <div class="col-sm-3">
                    <h6>Город</h6>
                    <input required type="text" class="form-control" id="input-city" placeholder="Город">
                </div>
                <div class="col-sm-3">
                    <h6>Место</h6>
                    <input required type="text" class="form-control" id="input-place" placeholder="Место">
                </div>
                <div class="col-sm-3">
                    <h6>Ответственный</h6>
                    <input required type="text" class="form-control" id="input-person" placeholder="Ответственный">
                </div>
            </div>
            <div class="row m-1">
                <div class="col-sm-6">
                    <br />
                    <button id="btn-add" type="submit" class="btn btn-primary" style="border-radius:15px;">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container" id="output-exhibitions">
    @Html.Action("OutPutExhibitions", "Exhibitions")
</div>

<input hidden id="datestart" value="" />
<input hidden id="datestop" value="" />

@section Styles{
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#btn-add", function () {

                var name = $('#input-name').val();
                var startDate = $('#datestart').val();
                var stopDate = $('#datestop').val();
                var country = $('#input-country').val();
                var city = $('#input-city').val();
                var place = $('#input-place').val();
                var person = $('#input-person').val();

                $.ajax({
                    type: "POST",
                    cache: true,
                    data: {
                        name: name,
                        begTime: startDate,
                        endTime: stopDate,
                        country: country,
                        city: city,
                        place: place,
                        person: person
                    },
                    success: function () {
                        //window.location.assign("http://localhost:55378/Exhibitions/ExhibitionsView");
                    },
                    error: function () {
                        alert('Возникла ошибка!\nПроверьте, все ли данные Вы ввели!');
                    },
                    url: "@Url.Action("AddExhibition", "Exhibitions")"
                }).done(function (result) {
                    $('#output-exhibitions').html(result);
                });
            });

            $("#searchExhibition").on("input", function () {

                var name = $('#search-name').val();
                var country = $('#search-country').val();

                $.ajax({
                    type: "POST",
                    cache: true,
                    data: {
                        name: name,
                        country: country
                    },
                    success: function () {
                        //window.location.assign("http://localhost:55378/Exhibitions/ExhibitionsView");
                    },
                    error: function () {
                        alert('Возникла ошибка!\nПроверьте, все ли данные Вы ввели!');
                    },
                    url: "@Url.Action("SearchExhibition", "Exhibitions")"
                }).done(function (result) {
                    $('#output-exhibitions').html(result);
                });
            });
        });

        $('#input-time').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": false,
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment().subtract(1, 'days').startOf('day'),
            "endDate": moment().subtract(1, 'days').endOf('day'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            $('#input-time span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));
            $('#datestart').val(start.format('DD.MM.YYYY HH:mm:ss'));
            $('#datestop').val(end.format('DD.MM.YYYY HH:mm:ss'));
        });
    </script>
}