@{
    ViewBag.Title = "Главная страница";
}
<div class="highlights">
    Музей современного искусства
</div>

<div class="container">
    <div class="menu-box">
        <div class="menu-box-content">
            @Html.ActionLink("Создатели", "CreatorsView", "Creators")
        </div>
    </div>
    <div class="menu-box">
        <div class="menu-box-content">
            @Html.ActionLink("Экспонаты", "ExhibitsView", "Exhibits")
        </div>
    </div>
    <div class="menu-box">
        <div class="menu-box-content">
            @Html.ActionLink("Залы", "RoomsView", "Rooms")
        </div>
    </div>
    <div class="menu-box">
        <div class="menu-box-content">
            @Html.ActionLink("Выставки", "ExhibitionsView", "Exhibitions")
        </div>
    </div>
</div>

<div class="container">
    <h3><u>Почему нужно прийти именно к нам?</u></h3>
    <div class="desc">
        <p>
            <h4 style="line-height: 2.2; margin-left:5px;">
                В нашем музее молодые (и не совсем) таланты и дарования могут проявить себя, выражая душу на холст или мрамор.
                Наш музей работает круглосуточно и Вы можете прийти в любое удобное для Вас время суток.
                Здание музея прекрасно не только тем, что он является кладовой искусства, но и то, что он сам является произведением искусства.
                Команда архитекторов создала шикарный фасад и роскошные залы внутри здания.
                Это не старый музей, где всё скрипит и вот-вот разрушится, где нельзя прикасаться к произведениям создателей.
                У нас Вы сможете всегда потрогать каждый экспонат, чтобы узнать какой материал на ощупь.
            </h4>
        </p>
    </div>
</div>
<br />
<div class="container">
        <h3><u>В каком стиле у нас есть экспонаты:</u></h3>
        @{
            foreach (var item in ViewBag.Styles)
            {
                <div class="row">
                    <div class="col-sm-2">
                        @{
                            ViewBag.IDCollapse = "unicodeCollapse" + Convert.ToString(item.IDStyle);
                        }
                        <h2>
                            <a class="btn btn-danger m-3" style="border-radius:15px;" data-toggle="collapse" href="#@ViewBag.IDCollapse" role="button" aria-expanded="false" aria-controls="addExhibition">
                                @item.Name
                            </a>
                        </h2>
                    </div>
                    <div class="col-sm-10">
                        <div class="collapse m-2" id="@ViewBag.IDCollapse">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4>Время появления</h4>
                                    <h5>@item.AppearancePeriod</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Страна зарождения</h4>
                                    <h5>@item.Country</h5>
                                </div>
                                <div class="col-sm-4">
                                    @{
                                        Museum.Models.MuseumDBEntities db = new Museum.Models.MuseumDBEntities();
                                        ViewBag.Amount = db.Styles.ToList().Find(x => x.IDStyle == item.IDStyle).Exhibits.Count;
                                    }

                                    <h4>Количество работ в этом стиле <strong>@ViewBag.Amount</strong> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        }
</div>