@model IEnumerable<Museum.Models.GetCurRoom_Result>

<div class="container">
    @foreach (var m in Model)
    {
        <div class="col-sm-3">
            <h3>
                <small class="text-muted">Название</small>
                <br />
                @m.Name
            </h3>
            <hr />
            <h5>
                <small class="text-muted">Дата создания</small>
                @m.DateOfCreation
            </h5>
            <hr />
            <h3 style="margin-top: 0px;">
                <small class="text-muted">Автор</small>
                <br />
                @m.Creator
            </h3>
            <hr />
            <h5>
                <small class="text-muted">Тип</small>
                @m.Type
            </h5>
            <h4>
                <small class="text-muted">Стиль</small>
                @m.Style
            </h4>
            <a data-toggle="collapse" href="#@m.Name" role="button" aria-expanded="false" aria-controls="addExhibition">
                <strong>Описание</strong>
            </a>
            <div class="collapse m-2" id="@m.Name">@m.Description</div>
        </div>
    }
</div>
<br />


