@model IEnumerable<Museum.Models.Room>

@{
    ViewBag.Title = "Залы";
}

@foreach (var m in Model)
{
    Museum.Models.MuseumDBEntities db = new Museum.Models.MuseumDBEntities();

    var prmRoom = new System.Data.SqlClient.SqlParameter("@p_Room", System.Data.SqlDbType.Int);
    prmRoom.Value = m.IDRoom;

    var result = db.Database.SqlQuery<Museum.Models.GetCurRoom_Result>("GetCurRoom @p_Room", prmRoom).ToList();

    ViewBag.AmountExhibits = result.Count;

    <div class="room col-sm-4">

        <h2><small>Название</small><br />@m.Name</h2>
        <hr />
        <h4><small>Описание зала<br /></small>@m.Description</h4>
        <hr />
        <h3><small>Количество экспонатов здесь  </small>@ViewBag.AmountExhibits</h3>
        <p><a class="btn btn-default" href="@Url.Action("CurrentRoomView", "Rooms", new {Room = m.IDRoom, Name = m.Name})">Что внутри?</a></p>
    </div>
}
<div class="row">

</div>